<h2>
  Edit brand
  <%= link_to "Return", brands_path, class: 'btn btn-secondary rounded-1 float-right form-inline' %>
</h2>

<%= form_for  @edit_brand do |f| %>

  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form action="">
          <div class="form-group row">
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-md-4">
                  <br>
                  <br>
                  <br>
                  <br>
                  <label><b>Brand</b></label>
                  <br>
                  <%= f.text_field :brand_name, :type => 'text', :class => 'form-control', :placeholder => 'Enter here brand name', autofocus: true, autocomplete: 'off', required: true %>
                  <br>
                  <%= f.submit :Update, :class => 'btn btn-primary btn-block' %>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<% end %>
